  <h1>login</h1>
  <form action="/authenticate" method="post">
      <label>Username</label>
      <input  id="username" name="username" placeholder="Username" type="text" />
      <label>Password</label>
      <input id="password" name="password" placeholder="Password" type="password" >
      <div class="form-actions">
          <button type="submit" class="">Login</button>
          <div class="clearfix"></div>
      </div>
  </form>

  <h2>Facebook</h2>
  <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login With Facebook</a>

 <a href="/auth/twitter" class="btn btn-primary"><span class="fa fa-twitter"></span> Login With Twitter</a>


  <h3>Not signed up? <a href="/signup">Register here</a></h3>