  <h1>signup</h1>
  <form action="/signup" method="post">
      <label>Username</label>
      <input  id="username" name="username" placeholder="Username" type="text" />
      <label>Password</label>
      <input id="password" name="password" placeholder="Password" type="password" >
      <div class="form-actions">
          <button type="submit" class="">Sign Up</button>
          <div class="clearfix"></div>
      </div>
  </form>